@import "../../../scss/mixins";
@import "../../basestyles/page";
.memorial {
  height: 100%;
  display: flex;
  background-color: #e2343f;
  flex-direction: row !important;
  h1, h2, p {
    color: #fff;
  }
  h1 {
    font-size: 61px;
  }
  h2 {
    font-family: myriad-pro;
    font-weight: lighter;
    font-size: 61px;
    margin-bottom: 100px;
  }
  p {
    font-family: myriad-pro;
    font-weight: lighter;
    font-size: 23px;
    margin-bottom: 70px;
    line-height: 1.4;
  }
  &__left {
    @include flexCenter;
    width: 45%;
    flex-direction: column !important;
  }
  &__right {
    @include flexCenter;
    width: 55%;
    background-color: #ffffff;
  }
}
.memorial-letters {
  width: 533px;
  transform: translateY(-139px);
  &__letters {
    display: grid;
    row-gap: 24px;
    grid-template-columns: repeat(7, 1fr);
  }
  &__letter {
    width: 55px;
    height: 55px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    transition: 0.2s all;
    &--active {
      background-color: #000;
      color: #fff;
      transition: 0.2s all;
    }
  }
}
.ScrollbarsCustom-Wrapper {
  position: relative;
  height: 100%;
  &:after {
    content: '';
    position: absolute;
    background: transparent linear-gradient(0deg, rgba(255,255,255,1) 13%, rgba(255,255,255,0) 100%);;
    width: 100%;
    height: 150px;
    bottom: 0;
    pointer-events: none;
  }
}
.results {
  color: #000;
  display: grid;
  row-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  width: 770px;
  opacity: 0;
  padding-bottom: 110px;
  &__result {
    font-weight: 700;
    font-size: 24px;
    margin-left: 35px;

    &--featured {
      color: #e2343f;
      position: relative;
      &::before {
        content: '★';
        position: absolute;
        left: -34px;
        font-size: 32px;
        top: -6px;
      }
    }
  }
}
.ScrollbarsCustom-Thumb {
  background-color: #e2343f !important;
}
.ScrollbarsCustom-Track {
  width: 5px;
}
.imageoverlay {
  will-change: transform;
  position: absolute;
  width: 100%;
  height: 100%;
  //background: rgba(0,0,0,0.9);
  background: rgba(0, 0, 0, 0.85);
  z-index: 3;
  display: none;
  align-items: center;
  justify-content: center;
  &__container {
    position: absolute;
    top: 105px;
    width: 947px;
    height: 602px;
    border-radius: 49px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  &__close {
    position: absolute;
    background-color: none;
    width: 60px;
    height: 60px;
    right:32px;
    top: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000;
    border-radius: 50%;
  }
  &__image {
    width: 100%;
    padding: 0 60px;
    display: flex;
    img {
      max-height: 100%;
    }
  }
  .bold {
    font-weight: 700;
  }
  h1 {
    margin-bottom: 0px !important;
  }
  .sub {
    margin-bottom: 30px !important;
  }
  p {
    margin-bottom: 10px !important;
    font-size: 26px;
  }
  h1, p {
    color: #000000;
  }
}
.popup {
  display: flex;
  width: 100%;
  &__left {
    flex: 1 0 100%;
  }
  &__right {
    margin-left: 40px;
    flex: 1 1 auto;
    img {
      max-width: 100% !important;
      height: auto !important;
    }
  }
}
[data-id='20'] {
  opacity: 0.4;
  pointer-events: none;
}

[data-id='25'] {
  opacity: 0.4;
  pointer-events: none;
}

[data-id='23'] {
  opacity: 0.4;
  pointer-events: none;
}
