@import "../../../scss/mixins";
@import "../../basestyles/page";
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__buttons {
    display: flex;
    height: 100%;
    width: 100%;
    @include flexCenter;
  }
  &__button {
    user-select: none;
    cursor: pointer;
    background-color: #ffb10b;
    color: #fff;
    width: 505px;
    height: 286px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    transition: 0.2s background-color;
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    &:hover {
      //background-color: #c28300;
    }
  }
}
